*, *::after, *::before {
    box-sizing: border-box;
    /* outline: solid rgba(255, 0, 0, .5) 1px; */
    margin: 0;
}



/*=============================================
=                Main style                   =
=============================================*/

body {
    --select-cor: var(--destaque-cor);
    --main-background: #635985;
    --cabecalho-texto-cor: #635985;
    --cabecalho-cor: #18122B;
    --texto-cor: #020202;
    --texto-cor-hover: #acacac;
    --texto-cor-active: #f5f4f7;
    --hover-cor: var(--texto-cor-hover);
    --destaque-cor: #50C878;

    --hover-tempo: .35s;

    --altura-cabecalho: 65px;

    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100svh;
    
    background-color: var(--main-background);
    background-repeat: no-repeat;
}

::selection {
    background-color: var(--select-cor);
    color: black;
}

main {
    color: var(--texto-cor);
    background-color: var(--main-background);
}

h1 {
    font-size: 40px;
    text-align: center;
}

p {
    margin: 1rem 0;
    text-align: justify;
    text-indent: 1rem;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

#banner {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    opacity: 0;
    animation: appear 1s ease-out forwards;
}

#banner h1 {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 900;
}

#banner img {
    width: 100%;
    height: calc(100svh - var(--altura-cabecalho));
    object-fit: cover;
}

#banner::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: transparent;
    
    animation: blur 2s forwards ease;
}


/*=============================================
=                   Cabeçalho                 =
=============================================*/

#cabecalho {
    --menu-roll-time: 1.5s;
    
    background: var(--cabecalho-cor);
    color: var(--cabecalho-texto-cor);

    width: 100%;
    height: var(--altura-cabecalho);

    display: flex;
    justify-content: space-between;
    align-items: center;

    animation: menu-roll-ltr var(--menu-roll-time) ease-out forwards;
}

#contato {
    display: flex;
    align-items: center;
    margin: 0;
}

header#cabecalho ul > #github-contato {
    padding: 0 .3em;
    margin: 0;
    color: var(--destaque-cor);
}

#contato img {
    border-radius: 15%;
    max-height: 40px;
    margin: 0 .3em 0 0;
}

#email-contato {
    user-select: all;
    cursor: copy;
}

#cabecalho ul {
    height: 100%;
    padding: 0;
    user-select: none;
}

#cabecalho ul li {
    --roll-ttb-duration: 1s;
    position: relative;
    padding: 0 1em;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    text-wrap: nowrap;
    
    translate: 0 -100%;
    transition: color var(--hover-tempo) ease-out;
    animation:
        menu-roll-ttb var(--roll-ttb-duration) ease-out forwards,
        appear var(--roll-ttb-duration) ease-out forwards;
}

ul#menu {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
}

#cabecalho ul > li > * {
    vertical-align: middle;
}

#logo {
    height: 100%;
}

#logo img {
    overflow: hidden;
    height: 100%;
    transition: filter var(--hover-tempo) ease;
}

#cabecalho #menu li::after, #cabecalho #menu li::before {
    position: absolute;
    pointer-events: none;
    color: transparent;

    transition: 
        transform var(--hover-tempo) cubic-bezier(0.175, 0.885, 0.32, 1.5),
        color var(--hover-tempo) ease-out;
}

#cabecalho #menu li::before {
    content: '[';
    left: -10px;
}

#cabecalho #menu li::after {
    content: ']';
    right: -10px;
}

/*=====  End of Cabeçalho  ======*/



/*=============================================
=                    Hover                   =
=============================================*/

#logo:hover img {
    filter: brightness(1.5) hue-rotate(-10deg);
}

#cabecalho #menu li:hover, #github-contato:hover {
    cursor: pointer;
}

#github-contato:hover {
    filter: brightness(1.15);
}

#cabecalho #menu li:hover {
    color: var(--texto-cor-hover);
}

#cabecalho #menu li:hover::before {
    transform: translateX(10px);
    color: var(--hover-cor);
}

#cabecalho #menu li:hover::after {
    transform: translateX(-10px);
    color: var(--hover-cor);
}

/*=====  End of Hover  ======*/



/*=============================================
=                  :active                    =
=============================================*/

#cabecalho #menu li:active::before {
    transform: translateX(15px);
}

#cabecalho #menu li:active::after {
    transform: translateX(-15px);
}

#cabecalho #menu li:active::before, #cabecalho #menu li:active::after {
    color: var(--texto-cor-active);
}

#cabecalho #menu li:active, #github-contato:active {
    color: var(--texto-cor-active);
}

/*=====  End of :active  ======*/



/*=============================================
=                 Animations                  =
=============================================*/

@keyframes menu-roll-ltr {
    0% {
        translate: -100% 0;
    }
    
    100% {
        translate: 0;
    }
}

@keyframes menu-roll-ttb {
    0% {
        translate: 0 -100%;
    }

    100% {
        translate: 0;
    }
}

@keyframes appear {
    100% {
        opacity: 100%;
    }
}

@keyframes blur {
    0% {
        backdrop-filter: none;
    }

    100% {
        backdrop-filter: blur(5px) brightness(.8);
    }
}

/*=====  End of Animations  ======*/