* {
    box-sizing: border-box;
    /* outline: solid rgba(255, 0, 0, .5) 1px; */
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    /* Variáveis */
    --hover-color: rgb(124, 151, 158);
    --hover-tempo: .25s;
    --press-color: rgb(191, 220, 231);

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabeçalho */
#cabecalho {
    background: #050318;
    color: #6B7195;

    height: 65px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contato {
    display: flex;
    align-items: center;
    margin: 0;
}

header#cabecalho ul > #github-contato {
    padding: 0 .3em 0 0;
    margin: 0;
}

#contato img {
    border-radius: 15%;
    max-height: 40px;
    margin: 0 .3em 0 0;
}

#email-contato {
    user-select: all;
    cursor: copy;
}

#email-contato::selection {
    background-color: var(--press-color);
    color: black;
}

#cabecalho ul {
    height: 100%;
    padding: 0;
    user-select: none;
}

#cabecalho ul li {
    padding: 0 1em;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 12px;
    height: 100%;

    font-weight: 500;

    transition: 
        color var(--hover-tempo) ease-out,
        background-color var(--hover-tempo) ease-out,
        text-shadow var(--hover-tempo) ease-out;

}

#cabecalho ul li:active {
    color: var(--press-color);
}

ul#menu {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
}

#cabecalho ul > li > * {
    vertical-align: middle;
}

#logo {
    height: 100%;
}

#logo img {
    overflow: hidden;
    height: 100%;

    transition: filter .5s ease;
}

#cabecalho #menu li::after, #cabecalho #menu li::before {
    position: absolute;
    pointer-events: none;
    color: transparent;

    transition: 
        transform var(--hover-tempo) cubic-bezier(0.175, 0.885, 0.32, 1.5),
        color var(--hover-tempo) ease-out;
}

/* Hover */
#logo:hover img {
    filter: brightness(1.5) hue-rotate(-10deg);
}

#cabecalho #menu li:hover, #github-contato:hover {
    background-color: var(--hover-color);
    color: #050318;
    text-shadow: 0 -1px 1px #050318;
    cursor: pointer;
}

#cabecalho #menu li::before {
    content: '[';
    left: -20px;
}

#cabecalho #menu li::after {
    content: ']';
    right: -20px;
}

#cabecalho #menu li:hover::before {
    transform: translateX(10px);
    color: var(--hover-color);
}

#cabecalho #menu li:hover::after {
    transform: translateX(-10px);
    color: var(--hover-color);
}